
</div>
	    <div class="left">
	        <a href="http://en.wikipedia.org/wiki/Tabby_cat"><div class="pic">Boudreaux</div></a>
	        <div class="pic" id="Boo" style="height:240px;width:340px;border-radius:5px;"><img src="assets/Boo_lunch.jpg" style="height:240px;width:340px;border-radius:5px;"/></div>
	        <a href="http://en.wikipedia.org/wiki/Black_cat"><div class="pic">Sebastian</div></a>
	        <div class="pic" id="Seb" style="height:300px;width:240px;border-radius:5px;"><img src="assets/Seb_plant.jpg" style="height:300px;width:240px;border-radius:5px;"/></div>
	        <a href="http://coveredincathair.com/content/special-something-orange-tabbies"><div class="pic">Moriarty</div></a>
	        <div class="pic" id="Mo" style="height:300px;width:240px;border-radius:5px;"><img src="assets/Mo_light.jpg" style="height:300px;width:240px;border-radius:5px;"/></div>
	        <a href="http://consciouscat.net/2009/08/17/tortitude-the-unique-personality-of-tortoiseshell-cats/"><div class="pic">Jigi Tortellini</div></a>
	        <div class="pic" id="Jig" style="height:240px;width:300px;border-radius:5px;"><img src="assets/Jigi_pretty.jpg" style="height:240px;width:300px;border-radius:5px;"/></div>
	    </div>
	    <div class="right">
	        <h1><u>WHO WE ARE</u></h3>
	            <ul>
	                <p><em>Boudreaux</em></p>
	                <ol>
	                    <p>Mackerel Tabby</p>
	                    <p>MO: The <em>Ankle Claw</em>.  Boo was in the FSF (Feline Special Forces...what happens in Fight Club stays in Fight Club...</p>
	                </ol>
	                <p><em>Sebastian</em></p>
	                <ol>
	                    <p>Black</p>
	                    <p>MO: Camouflage.  Sometimes all you can make out is a pair of glowing yellow eyes and then it's too late...</p>
	               </ol>
	               <p><em>Moriarty</em></p>
	               <ol>
	                    <p>Red Tabby</p>
	                    <p>MO: Chemical Warfare.  Mo has been approached by the FBI, the CIA, and the FSF for his unique CBP (cat bowel processing).</p>
	                </ol>
	                <p><em>Jigi Tortellini</em></p>
	                <ol>
	                    <p>Tortoiseshell</p>
	                    <p>MO: Brute Strength.  What she lacks in fine motor skills, she makes up for in pure force of acceleration...</p>
	                </ol>
	            </ul>
	    </div>
	    


