</div>
	    <div class="left" style="height:500px">
	    <div class="pic" style:"padding:20px">CALL: 555-867-5309</div>
	    <div class="pic" style:"padding:20px">MAP</div>
	    <a href="<div class="video-wrapper-box" style= "padding:10px"><p><iframe width="600" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://www.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=hemingway+home+key+west&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=62.61328,104.941406&amp;ie=UTF8&amp;hq=hemingway+home&amp;hnear=Key+West,+Monroe,+Florida&amp;ll=24.5511,-81.800825&amp;spn=0.010126,0.040114&amp;output=embed"></p><p></iframe></a>

	        
	    </div>