<html>
<div class="directions">
	    <div class="pic" style:"padding:20px">CALL: 555-867-5309
	    </div>
	    <a href="http://www.hemingwayhome.com/directions/"><div style:"padding:20px">MAP & DIRECTIONS
	    </div></a>
</div>
<div class="bio">
		    <h3 class= "who"><u>WHO WE ARE</u></h3>
		        <ul>
		            <p><em>Boudreaux</em></p>
		            <ol>
		                <p>Mackerel Tabby</p>
		                <p>MO: The <em>Ankle Claw</em>.  Boo was in the FSF (Feline Special Forces...what happens in Fight Club stays in Fight Club...</p>
		            </ol>
		            <p><em>Sebastian</em></p>
		            <ol>
		                <p>Black</p>
		                <p>MO: Camouflage.  Sometimes all you can make out is a pair of glowing yellow eyes and then it's too late...</p>
		           </ol>
		           <p><em>Moriarty</em></p>
		           <ol>
		                <p>Red Tabby</p>
		                <p>MO: Chemical Warfare.  Mo has been approached by the FBI, the CIA, and the FSF for his unique CBP (cat bowel processing).</p>
		            </ol>
		            <p><em>Jigi Tortellini</em></p>
		            <ol>
		                <p>Tortoiseshell</p>
		                <p>MO: Brute Strength.  What she lacks in fine motor skills, she makes up for in pure force of acceleration...</p>
		            </ol>
		        </ul>
		</div>
</html>