<html>
<body>
<h1><u>Things to See in London</u></h1>

	<div class="left">
		    <a href="http://en.wikipedia.org/wiki/Tabby_cat"><div class="pic">London Eye</div></a>
		    <div class="pic" id="Boo" style="height:240px;width:340px;border-radius:5px;"><img src="assets/london_eye.jpg" onmouseover="this.src='assets/Boo_lunch.jpg'" onmouseout="this.src='assets/london_eye.jpg'" style="height:240px;width:340px;border-radius:5px;"/></div>
		    <a href="http://en.wikipedia.org/wiki/Black_cat"><div class="pic">Big Ben</div></a>
		    <div class="pic" id="Seb" style="height:300px;width:240px;border-radius:5px;"><img src="assets/big_ben.jpg" onmouseover="this.src='assets/Seb_plant.jpg'" onmouseout="this.src='assets/big_ben.jpg'" style="height:300px;width:240px;border-radius:5px;"/></div>
	</div>
	<div class="right">
		    <a href="http://coveredincathair.com/content/special-something-orange-tabbies"><div class="pic">Guard at the Tower of London</div></a>
		    <div class="pic" id="Mo" style="height:300px;width:240px;border-radius:5px;"><img src="assets/guard.jpg" onmouseover="this.src='assets/Mo_light.jpg'" onmouseout="this.src='assets/guard.jpg'" style="height:300px;width:240px;border-radius:5px;"/></div>
		    <a href="http://consciouscat.net/2009/08/17/tortitude-the-unique-personality-of-tortoiseshell-cats/"><div class="pic">Catch a Show</div></a>
		    <div class="pic" id="Jig" style="height:240px;width:300px;border-radius:5px;"><img src="assets/shows.jpg" onmouseover="this.src='assets/Jigi_pretty.jpg'" onmouseout="this.src='assets/shows.jpg'" style="height:240px;width:300px;border-radius:5px;"/></div>
	</div>
	</body>
</html>