<p id = "my_first_paragraph" class="paragraph">
Nailing down the scattershot effect on that group is difficult, but one thing is clear: While furloughed federal employees had their back pay reinstated at the end of the 16-day shutdown, no such provision is made for contractors. Those who weren't paid during the shutdown were out of luck. Some contractors lived in limbo leading to and during the shutdown, unsure of the status of their contracts. And with the possibility of another shutdown in January, some contractors remain in that limbo.
</p>
<a href="http://www.wjla.com/articles/2013/10/government-shutdown-2013-angst-for-contractors-remains-95738.html#ixzz2ie6SuGmd">Read more</a>
<button class="show_me_button">Show me1</button>
<button class="show_me_button">Show me2</button>
<button class="show_me_button">Show me3</button>

<p>
Follow us: @ABC7News on Twitter | WJLATV on Facebook
</p>