
ol p {
    font-size:12px;
}
img {
    height:60px;
    width:75px;
    border-radius:5px;
}

.pic {
    display:block;
}
#Boo {
    height:60px;
    width:75px;
    border-radius:5px;
}
#Seb {
    height:60px;
    width:75px;
    border-radius:5px;
}
#Mo {
    height:60px;
    width:75px;
    border-radius:5px;
}
#Jig {
    height:60px;
    width:75px;
    border-radius:5px;
}

